@import "tailwindcss";


/* Hide number input arrows */
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

.print-text-black {
    @media print {
        color: black !important;
    }
}
.print-bg-black {
    @media print {
        background-color: black !important;
    }
}

.print-bg-black-dotted {
    @media print {
        background-image:
            linear-gradient(to right, rgb(0 0 0) 50%, transparent 50%) !important;
        background-size: 10px 1px !important;
        background-repeat: repeat-x !important;
    }
}

